@media (max-width: 576px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .hideSmall {
    display: none !important;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #212529 !important;
}

.optcontainer {
  font-size: 2rem;
}

#root {
  position: absolute;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
